<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :head do %>
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<% end %>

<header class="sjtu-header">
  <img src="/images/header.png"/>
  <h1>欢迎登录LMS平台</h1>
</header>
<div class="sjtu-main">
  <div id="login-forms">			
    <div class="sjtu-tabs">
      <div class="sjtu-tab" data-content="#guest-login">访客登录</div>
      <div class="sjtu-tab sjtu-active" data-content="#jaccount-login">jAccount登录</div>
    </div>
    <div id="guest-login" class="sjtu-login-form" style="display: none;">
      <%= form_for :pseudonym_session, :url => url_for({ action: :create }.merge(params.slice(:id).to_unsafe_h)), :html => {:id => "login_form"} do |f| %>
        <input type="hidden" name="redirect_to_ssl" value="1"/>
        <div class="sjtu-fieldset sjtu-fieldset-first">
          <i class="fa fa-user fa-fw"></i>
          <%= f.text_field :unique_id, 
                           :value => params[:pseudonym_session].try(:[], :unique_id), 
                           :autofocus => !params[:previewing_from_themeeditor],
                           :placeholder => '请输入邮箱地址' %>
          <%# <input placeholder="请输入邮箱地址"/> %>
        </div>
        <div class="sjtu-fieldset sjtu-fieldset-last">
          <i class="fa fa-lock fa-fw"></i>
          <%= f.password_field :password, :role => "textbox", :placeholder => '请输入登录密码' %>
          <%# <input placeholder="请输入登录密码"/> %>
        </div>
        <button type="submit" class="sjtu-submit-button">立即登录</button>
      <% end %>
    </div>
    <div id="jaccount-login" class="sjtu-login-form">
      <img src="/images/tim.jpg" alt=""/>
      <a href="http://baidu.com/" class="sjtu-submit-button">立即登录</a>
    </div>
  </div>
</div>
<footer class="sjtu-footer">
  <p>上海交通大学LMS系统</p>
  <p>电话：13000000000</p>
  <p>Copyright© 2018&nbsp; 紫越网络科技有限公司 | 版权所有</p>
  <p>邮箱：xxxxxx@163.com</p>
</footer>